/*! Boilerplate styles */
:root {
  /* Colors */
  --bright-yellow: #fab806;
  --deep-blue: #1d809f;
  --deep-red: #d64532;
  --bright-white: #efeae1;
  --rich-black: #252525;

  /* TODO: Colors to override depending on the game */
  --bg-color: var(--bright-yellow);
  --ui-bg-color: var(--bright-white);
  --ui-text-color: var(--rich-black);
  --ui-shadow-color: var(--rich-black);
  --accent-color: var(--deep-blue);
  /* Toolbar icon colors */
  --github-color: green;
  --explain-color: var(--bright-yellow);
  --settings-color: var(--deep-blue);
  --game-color: var(--deep-red);
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--ui-text-color);
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  cursor: crosshair; /*! Change if need be */
  position: relative;
  z-index: 0;
  /* Initial color transtion */
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
}

#toolbar,
#infobar,
#center {
  transform-origin: center;
  transition-duration: 100ms;
}

h1,
h2,
h3 {
  font-family: "Karmatic Arcade", sans-serif;
}

input {
  outline: none;
  background: none;
  border: none;
  box-shadow: none;
}

a:link {
  color: var(--ui-text-color);
  text-decoration: none;
}
a:visited {
  color: var(--ui-text-color);
  text-decoration: underline;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

input,
button,
a {
  cursor: pointer;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* For animated movements with center */
.move-to-top {
  top: -5%;
}

.faded {
  opacity: 0;
}

/*! Base canvas styles */
canvas {
  width: 100vw;
  height: 100vh;
}

/*! Style the infobar */
.topbar {
  position: absolute;
  top: 0px;
  padding: 10px;
  margin: 20px;
  background-color: var(--ui-bg-color);
  box-shadow: -5px 5px 0px 0px var(--ui-shadow-color);
  z-index: 2;
  display: flex;
  align-items: center;
}

#infobar {
  left: 0px;
  transform: rotate(-5deg);
  padding: 5px 10px;
}

/*! Style the toolbar */
#toolbar {
  right: 0px;
  transform: rotate(5deg);
}

.topbar span {
  display: inline-flex;
  align-items: center;
  padding-right: 2px;
}

.topbar:hover {
  box-shadow: -5px 5px 0px 0px var(--accent-color);
}

.topbar a:hover,
.topbar svg:hover {
  color: var(--accent-color);
}

.topbar svg:hover {
  transform: rotate(5deg);
}

.topbar a,
.topbar button,
.topbar svg {
  color: var(--ui-text-color);
  position: relative;
  display: inline-block;
  height: 24px;
}

#clock {
  margin-right: 5px;
}

#am-pm-container {
  display: inline-flex;
  flex-direction: column;
  margin-right: 10px;
}

#am-pm-container span {
  height: fit-content;
  font-size: 0.7em;
  padding: 0px 2px;
}

.activetime {
  background-color: var(--ui-text-color);
  color: var(--ui-bg-color);
}

/* Custom icons */
#github svg:hover {
  color: var(--github-color);
}
#explain svg:hover {
  color: var(--explain-color);
}
#explain svg:hover {
  color: var(--explain-color);
}
#settings svg:hover {
  color: var(--settings-color);
}
#game svg:hover {
  color: var(--game-color);
}

/*! Style Windows */
.window {
  position: absolute;
  z-index: 2;
  height: fit-content;
  width: fit-content;
  background-color: var(--ui-bg-color);
  box-shadow: -5px 5px 0px 0px var(--ui-shadow-color);
  font-size: 0.8em;
}

.window:hover {
  box-shadow: -5px 5px 0px 0px var(--accent-color);
}
.window:hover > .window-header {
  background-color: var(--accent-color);
}

.window-header {
  color: var(--ui-bg-color);
  background-color: var(--ui-text-color);
  padding: 10px 10px;
  height: fit-content;
  cursor: grab;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.window-delete {
  position: absolute;
  right: 7px;
  height: 24px;
  width: auto;
  cursor: pointer;
}

.window-content {
  padding: 15px 20px;
}

.window-content > *:first-child {
  margin-top: 0px;
}

.window-content > *:last-child {
  margin-bottom: 0px;
}

/*! Style the central element */
#center {
  width: 50vw;
  min-width: 200px;
  max-width: 450px;
  z-index: 1;
  transform: translate(-50%, calc(-50% - 30px)); /* Shift search slightly up */
}

#center-title {
  width: fit-content;
  max-width: max(50vw, 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 40px;
  margin: 0px auto;
  background-color: var(--ui-bg-color);
  box-shadow: -10px 10px 0px 2px var(--ui-shadow-color);
  transform: rotate(5deg);
  animation: spin 2s infinite;
}

@keyframes spin {
  50% {
    transform: rotate(-5deg);
  }
}

#center-title h1 {
  margin-bottom: 10px;
}

#center-title > * {
  margin: 0px;
  width: fit-content;
}

#center-title:hover {
  color: var(--accent-color);
  box-shadow: -10px 10px 0px 2px var(--accent-color);
}

#center-buttons {
  margin-top: 20px;
}

#center-buttons button {
  padding: 4px 2px;
  background-color: var(--ui-text-color);
  box-shadow: -4px 0 0 0 var(--ui-text-color), 4px 0 0 0 var(--ui-text-color),
    0 -3px 0 0 var(--ui-text-color), 0 4px 0 0 var(--ui-text-color);
  color: var(--ui-bg-color);
  min-width: 80px;
}

#center-buttons button:hover {
  background-color: var(--accent-color);
  box-shadow: -4px 0 0 0 var(--accent-color), 4px 0 0 0 var(--accent-color),
    0 -3px 0 0 var(--accent-color), 0 4px 0 0 var(--accent-color);
}

/* Style the searchbar and suggestions */
#searchbar-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

#searchbar {
  width: 100%;
  height: 25px;
  padding: 0px 10px;
  box-shadow: -6px 0 0 0 var(--ui-shadow-color),
    6px 0 0 0 var(--ui-shadow-color), 0 -6px 0 0 var(--ui-shadow-color),
    0 6px 0 0 var(--ui-shadow-color);
  background-color: var(--ui-bg-color);
  font-family: "Pixelify Sans", sans-serif !important;
  font-weight: bold;
  font-size: 1em;
  caret-color: var(--accent-color);
}

#searchbar:focus {
  box-shadow: -6px 0 0 0 var(--accent-color), 6px 0 0 0 var(--accent-color),
    0 -6px 0 0 var(--accent-color), 0 6px 0 0 var(--accent-color);
}

#suggestions-list {
  width: 100%;
  margin-top: calc(
    25px + 6px
  ); /*TODO: Change depending on height of the searchbar*/
  background-color: var(--ui-bg-color);
  box-shadow: -6px 0 0 0 var(--accent-color), 6px 0 0 0 var(--accent-color),
    0 0 0 0, 0 6px 0 0 var(--accent-color);
  box-sizing: border-box;
  display: none;
  position: absolute;
}

#suggestions-list .suggestion-item {
  margin: 0px;
  padding: 5px 0px;
  padding-left: 5px;
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
}

#suggestions-list .suggestion-item:hover,
.selected-suggestion {
  background-color: var(--accent-color);
  color: var(--ui-bg-color) !important;
}
