/*! Boilerplate styles */
:root {
  /* Colors */
  --bright-yellow: #fab806;
  --deep_blue: #1d809f;
  --deep_red: #d86425;
  --bright_white: #efeae1;
  --rich-black: #252525;

  /* Utility definitions to actually use */
  --ui-bg-color: var(--bright_white);
  --ui-text-color: var(--rich-black);
  --accent-color: var(--deep_blue);
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bright-yellow);
  color: var(--rich-black);
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  cursor: crosshair; /*! Change if need be */
  position: relative;
  z-index: -1;
  /* Flex display for easy layout */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: "Karmatic Arcade", sans-serif;
}

input {
  outline: none;
  background: none;
  border: none;
  box-shadow: none;
}

a:link {
  color: var(--rich-black);
  text-decoration: none;
}
a:visited {
  color: var(--rich-black);
  text-decoration: underline;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

input,
button,
a {
  cursor: pointer;
}

/*! Style the toolbar */
#toolbar {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  margin: 10px;
  background-color: var(--bright_white);
  box-shadow: -5px 5px 0px 0px;
  display: flex;
  align-items: flex-start;
}

#toolbar span {
  display: inline-flex;
  align-items: center;
  height: 1.5em;
  padding-right: 2px;
}

#am-pm-container {
  display: inline-flex;
  flex-direction: column;
  margin-right: 10px;
}

#am-pm-container span {
  height: fit-content;
  font-size: 0.7em;
  padding: 0px 2px;
}

.activetime {
  background-color: var(--rich-black);
  color: var(--bright_white);
  border-radius: 2px;
}

#toolbar:hover {
  box-shadow: -5px 5px 0px 0px var(--deep_blue);
}

#toolbar a:hover,
#toolbar svg:hover {
  color: var(--deep_blue);
}

#toolbar > a,
#toolbar > button {
  color: var(--rich-black);
  position: relative;
  height: 1.5em;
  width: 1.5em;
}

.dropdown {
  position: absolute;
  top: calc(1.5em + 25px);
  right: 0px;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  background-color: var(--bright_white);
  box-shadow: -5px 5px 0px 0px;
  font-size: 0.8em;
  z-index: 3;
}

.dropdown:hover {
  box-shadow: -5px 5px 0px 0px var(--deep_blue);
}

.dropdown > *:first-child {
  margin-top: 0px;
}

.dropdown > *:last-child {
  margin-bottom: 0px;
}

/*! Style the central element */
#center {
  position: relative;
  margin: 0px;
  width: 50vw;
  min-width: 200px;
  max-width: 450px;
  z-index: 0;
  transform: translate(0, -50px); /* Shift the center element slightly upward */
}

#center-title {
  width: fit-content;
  max-width: max(50vw, 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 40px;
  margin: 0px auto;
  background-color: var(--bright_white);
  transform-origin: center;
  transition-duration: 100ms;
  box-shadow: -10px 10px 0px 2px;
  animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
  25% {
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(5deg);
  }
}

#center-title h1 {
  margin-bottom: 10px;
}

#center-title > * {
  margin: 0px;
  width: fit-content;
}

#center-title:hover {
  color: var(--deep_blue);
}

#searchbar-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

#searchbar {
  width: 100%;
  height: 25px;
  padding: 0px 10px;
  box-shadow: -8px 0 0 0, 8px 0 0 0, 0 -8px 0 0, 0 8px 0 0;
  background-color: var(--bright_white);
  font-family: "Pixelify Sans", sans-serif !important;
  font-weight: bold;
  font-size: 1em;
  caret-color: var(--deep_blue);
}

#searchbar:focus {
  box-shadow: -8px 0 0 0 var(--deep_blue), 8px 0 0 0 var(--deep_blue),
    0 -8px 0 0 var(--deep_blue), 0 8px 0 0 var(--deep_blue);
}

#suggestions-list {
  width: 100%;
  margin-top: calc(
    25px + 8px
  ); /*TODO: Change depending on height of the searchbar*/
  background-color: var(--bright_white);
  box-shadow: -8px 0 0 0 var(--deep_blue), 8px 0 0 0 var(--deep_blue), 0 0 0 0,
    0 8px 0 0 var(--deep_blue);
  box-sizing: border-box;
  display: none;
  position: absolute;
}

#suggestions-list .suggestion-item {
  margin: 0px;
  padding: 5px 0px;
  padding-left: 5px;
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
}

#suggestions-list .suggestion-item:hover,
.selected-suggestion {
  background-color: var(--deep_blue);
  color: var(--bright_white) !important;
}
