:root {
  --bright-yellow: #ecb807;
  --deep_blue: #1d809f;
  --deep_red: #d86425;
  --bright_white: #efeae1;
  --atom_gray: #574c4f;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bright-yellow);
  color: black;
  font-family: "Pixelify Sans", sans-serif !important;
  font-weight: bold;
  text-align: center;
  cursor: crosshair;
  position: relative;
  /* Flex display for easy layout */
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: "Karmatic Arcade", sans-serif;
}

#center-utils {
  width: 75vw;
  max-width: 500px;
}
